%h2 Incomplete this month
%table.table
  %thead
    %tr
      %td Name
  %tbody
    - @users_incomplete.each do |user|
      %tr
        %td= link_to user.name, user

%h2 Complete this month
%table.table
  %thead
    %tr
      %td Name
  %tbody
    - @users_complete.each do |user|
      %tr
        %td= link_to user.name, user